.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 700px;
  margin-left: 575px;
  background-color: #f2df31;
  border-radius: 10px;
  padding: 0px 20px;
}

.about-container.light-theme {
  background-color: #f2df31;
}

.about-container.dark-theme {
  background-color: #3c50d1;
  color: #fff;
}

.about-image-container {
  height: 250px;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}

.about-image {
  height: 100%;
  border-radius: 10px;
}

.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-text {
  width: 90%;
}

.line {
  display: block;
  width: 95%;
  height: 5px;
  margin: 10px 0 20px;
  border-radius: 5px;
}

.line.light-theme {
  background-color: #000;
}
.line.dark-theme {
  background-color: #fff;
}
